/*.ui-widget, .ui-widget .ui-widget {*/
/*font-size: 90% !important;*/
/*}*/
.ui-growl {
    z-index: 9999 !important;
}

@media (min-width: 300px) {
    .my-dialog-class {
        width: 80% !important;
        z-index: 9000 !important;
    }
}

.panel-heading {
    text-align: right;
    height: 30px;
    padding: 2px 2px !important;
    /*vertical-align:  middle;*/
}

.panel-title {
    text-align: right;
    background-color: #428bca !important;
    height: 25px;
}

.panel-body {
    background: #f5f5f5;
}

.gridInputRow {
    height: 42px;
}

footer {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 10px;
    color: #786e68;
    position: fixed;
    bottom: 5px;
    width: 100%;
}

.version {
    text-align: right;
    font-family: "Courier New", Courier, serif;
    font-size: 10px;
    color: #786e68;
    position: fixed;
    bottom: 5px;
    width: 100%;
}

.warning-message {
    text-align: left;
    font-weight: bold;
    font-family: Courier, serif;
    font-size: 14px;
    color: #ff0a08;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.red-font {
    color: red;
}

.green {
    background-color: darkolivegreen;
}

.blue {
    background-color: cornflowerblue;
}

.summary {
    font-family: "Courier New", Courier, serif;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
    background-color: #c5c8ca !important;
    height: 20px;
}

.credit {
    font-family: "Courier New", Courier, serif;
    /*font-weight: bold;*/
    text-align: right;
    vertical-align: middle;
    /*background-color: #c5c8ca !important;*/
    height: 14px;
}

label {
    margin-bottom: 0 !important;
}

label.require:after {
    content: "*";
    color: #ff0000;
    font-size: 1.4em !important;
}

.ui-selectonemenu {
    display: inline-block;
    position: relative;
    min-width: 80px !important;
    height: 34px !important;
    outline: none !important;
    background: transparent !important;
    margin: 0 0 0 0 !important;
    padding: 0 !important;
    border: 1px solid #c4c4c4;
    border-radius: 3px !important;
    font-family: 'Tahoma', sans-serif !important;
    font-size: 14px !important;
    zoom: 1;
    cursor: pointer;
    padding-right: 2em;
}

.ui-inputfield,
.ui-inputtext {
    outline: none !important;
    font-weight: normal !important;
    margin: 0 0 0px !important;
    padding: 5px 5px !important;
    box-shadow: inset 1px 1px 4px #cccccc !important;
}

.ui-inputnumber {
    margin: 0 0 0px !important;
}

.ui-inputgroup .ui-button {
    margin: 0;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #e20034 !important;
    background: #ffffff !important;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-title {
    color: #000000 !important;
}

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a {
    background-color: #65a5cc !important;
    color: #fff !important;
    font-weight: bold !important;
}

.ui-spinner-input {
    padding-right: 20px !important;
    margin-bottom: 0px !important;
}

.ui-spinner .ui-icon {
    margin-top: -8px !important;
}

.ui-radiobutton-icon {
    margin-left: 0px !important;
    margin-top: -1px !important;
}

.ui-inputswitch {
    vertical-align: bottom;
}

.ui-datalist > div {
    border: none !important;
    background-color: transparent !important;
}

.ui-datalist-data {
    margin-bottom: 0px !important;
}

.ui-border {
    border: 1px solid #a8a8a8;
}

hr,
hr.ui-separator {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: 0;
    border-top: 1px solid #eee;
}

.ui-widget {
    margin: 0.2em;
}

.ui-datepicker {
    margin: 0;
}

.ui_tpicker_time_input {
    border-bottom: 0 !important;
}

.ui-timepicker-div .ui-widget-header,
.ui-timepicker-div .ui_tpicker_time_label,
.ui-timepicker-div .ui_tpicker_time,
.ui-datepicker-close {
    display: none;
}

.ui-widget.no-padding .ui-widget-content {
    padding: 0 0 0 0 !important;
}

.ui-widget.no-padding:parent {
    padding: 0 0 0 0 !important;
}

.ui-blockui {

}

.holiday {
    background-color: steelblue;
    color: white;
    background-image: none;
}

.normal {
    background-color: white;
    background-image: none;
}

.overlayValue,
.overlayLabel {
    width: 12em;
}

.cursor-pointer {
    cursor: pointer;
}

.fa-chevron-circle-down {
    cursor: pointer;
    width: 1em;
    height: 1em;
    text-align: center;
}

body {
    font-size: 12px;
}

/*IMPORTANT!*/

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.alignTop {
    vertical-align: top;
}

.alignMiddle {
    vertical-align: middle;
}

.alignBottom {
    vertical-align: bottom;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.onTopLeft {
    position: absolute;
    text-align: left;
    left: 10px;
    top: 10px;
}

.onBottomLeft {
    text-align: left;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.onBottomRight {
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.transparent {
    background-color: transparent !important;
}

.inputLabel {
    font-weight: bold;
}

.no-border,
.ui-panelgrid.no-border > tbody > tr,
.ui-panelgrid.no-border > tbody > tr > td {
    border-width: 0 0 0 0 !important;
}

.no-border.ui-inputfield {
    box-shadow: none !important;
}

.no-padding {
    padding: 0 0 0 0 !important;
}

.no-margin {
    margin: 0 0 0 0 !important;
}
